*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin: 0 auto;
    padding:0 2%;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
} 
header{
    height: 200px;
    padding: 20px 0;
    }
.logo{
    width: 30%;
}
.logo img{
    width: 30%; 
    margin-left: 30%;
}
.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}
.menu a{
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
    font-size: small;
}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
.extras{
    position: absolute;
    bottom: -370px;
    right: -400px;
    width: 925px;
    height: 850px;
    border-radius: 50%;
    background-color: #ec661b;
}
.extras img{
    position: relative;
    top: -0px;
    height: 450px;
    
    
}
.media{
    position: absolute;
    top: 20% ;
    left: 52%;
    cursor: pointer;
}
.media img{
    width: 7%;
    height: 8%;
    display: block;
    margin: 15px 0;
}
.texto-sobre{
    margin-left: 12%;
}
.texto-sobre h1{
    font-size: 35px;
    word-spacing: -4px;
}
.texto-sobre p{
    max-width: 600px;
    margin: 15px 0;
    font-weight: bold;
    font-size: 14px;
}
.texto-sobre button{
    border: 0;
    background-color: #ec661b;
    color: black;
    border-radius: 15px;
    width: 200px;
    height: 35px;
    cursor: pointer;
}